/* styles.css */

/* Global Styles */

*    {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

body {
    margin: 0;
    background-color: black;
}

/* Logo Styles */

.logo-container {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
}

.logo {
    display: block;
    border-radius: 50%;
}

/* Container Styles */

.container_home {
    display: inline-grid;
    grid-template-columns: 100px 1fr 1000px 100px;
    grid-template-areas:
        "container_header"
        "slider-home"
        "container_articulo"
        "container_footer";
}

.container_articulo {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

/* Article Styles */

article {
    color: #000000;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 20%;
}

article h2 {
    font-size: 48px;
}

article p {
    font-size: 28px;
    line-height: 1.8;
    background-color: rgba(255, 255, 255, 0.5);
}

p.link-carta {
    background-color: transparent;
}

/* Header Styles */

.container_header {
    background: #FF7F50;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container_header a {
    color: rgb(255, 255, 255);
}

.menu_logo {
    margin-top: 0.29%;
}

/* Footer Styles */

.container_footer {
    background: #FF7F50;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container_footer a {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* Google Maps Styles */

.cuerpo_Gmaps {
    width: 100%;
    padding-top: 1%;
}

#mapa {
    width: 100%;
}

/* Form Input Styles */

input,
textarea {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    resize: none;
    font-size: medium;
}

/* Image Styles */

img {
    width: auto;
    height: 100px;
}

/* Link Styles */

a {
    color: #FF7F50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Home Page Exclusive Styles */

.slider-home {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-home ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
    margin: 0;
    padding: 0;
}

.slider-home li {
    width: 100%;
    list-style: none;
}

.slider-home img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
}

@keyframes cambio {

    0%,
    20% {
        margin-left: 0;
    }

    25%,
    45% {
        margin-left: -100%;
    }

    50%,
    70% {
        margin-left: -200%;
    }

    75%,
    100% {
        margin-left: -300%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

    .slider,
    .slider ul,
    .slider img {
        height: 100vh;
    }
}

/* Menu Page Exclusive Styles */

.container_menu {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    column-gap: 1%;
    row-gap: 3%;
    color: white;
    padding: 0% 1% 2% 1%;
}

.cart-container {
    margin-top: 50px;
}

.item_menu {
    background-color: #333;
}

.item_menu button {
    background-color: #FF7F50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .container_menu {
        grid-template-columns: auto;
        overflow: auto;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .container_menu {
        grid-template-columns: auto auto;
    }
}

/* Testimonial Styles */

.testimonial {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.testimonial blockquote {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial cite {
    font-weight: bold;
}

/* Image Gallery Styles */

.image-gallery.loaded .image-bg {
    height: 100vh;
    width: 100%;
}

.image-gallery .image-bg:nth-child(1) {
    background-image: url('../images/burgerNosotros1.jpg');
}

.image-gallery .image-bg:nth-child(2) {
    background-image: url('../images/burgerNosotros2.jpg');
}

.image-gallery .image-bg:nth-child(3) {
    background-image: url('../images/burgerNosotros3.jpg');
}

/* Sticky Footer Styles */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

/* Responsive Styles */

@media only screen and (max-width: 1200px) {
    .slider-home img {
        min-width: 1200px;
    }
}

@media only screen and (max-width: 992px) {
    .slider-home img {
        min-width: 992px;
    }
}

@media only screen and (max-width: 768px) {
    .slider-home img {
        min-width: 768px;
    }
}